body{
    background-color:#fcf1e9; /*autres couleurs pour vous faire plaisir #FFC0CB FFF8DC fae2fa fcf1e9*/
    font-family: monospace;/* La police utilisé */
    font-size: 17px; /* la taille de la police normal par défaut*/
    margin-left: 50px;
    margin-right: 50px;
  }

  .menu-button{
    cursor: pointer;
    padding : 10px;
    border-radius : 10px;
    margin-top: 20px;
    font-size: 17px;
   }

/*Mise en page des liens de manière générale*/
a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:hover {text-decoration: none; color: inherit; font-weight: bolder; }
a:active {text-decoration: none; color: #2D3319;}
/*Mise en page des liens des menus*/
.menu-button:link {
  text-decoration: none;
  color: #2D3319;
  background-color : #D6E5E3;
  }
  .menu-button:hover {
  color: inherit;
  background-color : #9bc9c5;
}

/*Mise en page -> couleur plus foncé pour la page où on se situe*/
#here:link {
    background-color : #9bc9c5;
    }
  #here:hover {
    background-color : #9bc9c5;
    }


nav {
  text-align: center;
  
}
#fdl{ 
  display: inline-block;
}

.menu-button-fiche{
  cursor: pointer;
  padding : 10px;
  border-radius : 10px;
  margin-top: 20px;
  font-size: 17px;
 }
.menu-button-fiche:link {
  text-decoration: none;
  color: #2D3319;
  background-color : #d7b6a7;
  }

.menu-button-fiche:hover {
  text-decoration: none;
  color: #2D3319;
  background-color : #bb9582;
  }

#ficheHere:link{
  background-color : #bb9582;
}

#ficheHere:hover{
  background-color : #bb9582;
}


